</div>
<div class="footer-padding" style="padding-top: 4%;"></div>
<div class="footer fixed-bottom">

  <p>© 2020 <a href="https://bharatgupta922.github.io/CV/" class="link-to-contact">Bharat Gupta</a> <a
      href="https://github.com/sidharathjain2">Sidharath jain</a></p>
</div>
</div>
</body>

</html>