<%- include('partials/header')%>

<h1 class="head">
    SELECT THE MATRIX
</h1>
<div class="list-group" >
    <a href="/3into3" class="list-group-item list-group-item-action list-group-item-dark"
        onMouseOver="this.style.backgroundColor='#000000'" onMouseOut="this.style.backgroundColor='#323232'"
        style="color: #fff; padding: 5%;">3 X 3
        Easy</a>
    <a href="/9into9" class="list-group-item list-group-item-action list-group-item-dark"
        onMouseOver="this.style.backgroundColor='#000000'" onMouseOut="this.style.backgroundColor='#323232'"
        style="color: #fff; padding: 5%;">9 X 9
        Medium</a>
    <a href="/12into12" class="list-group-item list-group-item-action list-group-item-dark"
        onMouseOver="this.style.backgroundColor='#000000'" onMouseOut="this.style.backgroundColor='#323232'"
        style="color: #fff; padding: 5%;">12 X 12
        Hard</a>
</div>
<%- include('partials/contactus')%>
<%- include('partials/footer')%>