<%- include('partials/header')%>
<div class="jumbotron" style="margin: 5%;">
    <h1 class="display-4">Succeed 😊</h1>
    <p class="lead">

        <% for(const sub of arr) { %>
        <% for(const el of sub) { %>
        <button> <%= el %> </button>
        <% } %>
        <br>
        <% } %>

    </p>
    <hr class="my-4">
    <p>Congratulations , got the answer .If you want to solve more click below .</p>
    <br>
    <a id="sp-button" href="/" role="button">Solve More</a>
</div>
<%- include('partials/contactus')%>
<%- include('partials/footer')%>